In [1]:
import pandas as pd
import numpy as p
import matplotlib.pyplot as plt

In [2]:
# to avoid package version errors
import warnings 
warnings.filterwarnings("ignore")

In [4]:
# reading csv and converting it to pd dataframe
housedata = pd.read_csv("C:/Users/user/Desktop/all_perth_310121.csv")

In [5]:
housedata.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [6]:
print(housedata.dtypes)

ADDRESS              object
SUBURB               object
PRICE                 int64
BEDROOMS              int64
BATHROOMS             int64
GARAGE              float64
LAND_AREA             int64
FLOOR_AREA            int64
BUILD_YEAR          float64
CBD_DIST              int64
NEAREST_STN          object
NEAREST_STN_DIST      int64
DATE_SOLD            object
POSTCODE              int64
LATITUDE            float64
LONGITUDE           float64
NEAREST_SCH          object
NEAREST_SCH_DIST    float64
NEAREST_SCH_RANK    float64
dtype: object

In [7]:
# returns no. of unique values for each column

housedata.nunique()

ADDRESS             33566
SUBURB                321
PRICE                2297
BEDROOMS               10
BATHROOMS               8
GARAGE                 25
LAND_AREA            4372
FLOOR_AREA            528
BUILD_YEAR            124
CBD_DIST              595
NEAREST_STN            68
NEAREST_STN_DIST     1189
DATE_SOLD             350
POSTCODE              114
LATITUDE            29707
LONGITUDE           28557
NEAREST_SCH           160
NEAREST_SCH_DIST    33318
NEAREST_SCH_RANK      103
dtype: int64

In [9]:
housedata.shape

(33656, 19)

In [18]:
# build year and garage has many null values
df =housedata.drop(['NEAREST_SCH','ADDRESS','SUBURB','NEAREST_SCH_DIST','GARAGE','BUILD_YEAR','NEAREST_SCH_RANK','CBD_DIST','DATE_SOLD','NEAREST_STN','POSTCODE','LATITUDE','LONGITUDE'], axis= 1)

In [19]:
df.isna().sum()

PRICE               0
BEDROOMS            0
BATHROOMS           0
LAND_AREA           0
FLOOR_AREA          0
NEAREST_STN_DIST    0
dtype: int64

In [23]:
df.dtypes

PRICE               int64
BEDROOMS            int64
BATHROOMS           int64
LAND_AREA           int64
FLOOR_AREA          int64
NEAREST_STN_DIST    int64
dtype: object

In [26]:
x= df.drop('PRICE', axis=1)
y = df['PRICE']

In [27]:
# dataset splitting

from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.4, random_state=2)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
regress = LinearRegression().fit(train_x,train_y)

In [30]:
regress.score(test_x, test_y)

0.3297611827827629

In [32]:
regress.score(train_x,train_y)

0.3469499250554011

In [33]:
from sklearn import linear_model

lasso_reg = linear_model.Lasso(alpha=100, max_iter=100, tol=0.1)
lasso_reg.fit(train_x,train_y)

Lasso(alpha=100, max_iter=100, tol=0.1)

In [34]:
lasso_reg.score(train_x,train_y)

0.3469490872245542

In [35]:
lasso_reg.score(test_x,test_y)

0.3297644135190274

In [36]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(train_x,train_y)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [37]:
ridge_reg.score(test_x,test_y)

0.3297692002810929

In [38]:
ridge_reg.score(train_x,train_y)

0.34694743775338577

### Summary:

â€¢ After performing the Regularization Techniques, we have achieved improvement in Testing Accuracy & minute decrease in the Training Accuracy; thus achieving a normalized/regularized Regression Models.